{% load staticfiles %}
<html>
  <head>
    <title>Base</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  
  <body>
    <div class="header">
      <center><h1>Gear S3 Wifi Messaging Content Dispatch</h1></center>
    </div>
    <div class="content">
      <div class="row">
        <div class="col-md-8">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
 </html>
